<template>
  <div class="home view grid-container">
    <h1 class="view-title h4">User List</h1>

    <div class="user-list-main">
      <div class="grid-x">
        <div class="cell medium-6">
          <UserListSearchField
            @phrase-changed="handleSearchPhraseChanged"
          />
        </div>
        <div class="cell medium-6 add-user-wrapper">
          <router-link
            to="/add-user"
            tag="button"
            class="button button-main button-add-user"
          >
            <span>+</span> Add User
          </router-link>
        </div>
      </div>

      <hr />

      <p v-if="isError">{{ isError }}</p>
      <UserList
        v-else
        :users="filteredUsersForCurrentPage"
      />
    </div>

    <UserListPagination
      :numOfPages="numberOfPages"
      :currentPage="currentPage"
      @page-changed="updateCurrentPage"
    />
  </div>
</template>

<script>
import { mapGetters } from "vuex";

import UserListSearchField from "@/components/UserListSearchField";
import UserList from "@/components/UserList";
import UserListPagination from "@/components/UserListPagination";

export default {
  name: "Home",
  data() {
    return {
      itemsPerPage: 5,
      currentPage: 1,
      searchPhrase: ""
    };
  },
  components: {
    UserListSearchField,
    UserList,
    UserListPagination
  },
  methods: {
    handleSearchPhraseChanged(event) {
      this.currentPage = 1;
      this.searchPhrase = event;
    },
    updatePagination(event) {
      this.numOfPages = event;
    },
    updateCurrentPage(event) {
      this.currentPage = event;
    }
  },
  computed: {
    ...mapGetters([
      "filteredUsers",
      "isLoading",
      "isError"
    ]),
    numberOfItems() {
      return this.filteredUsers(this.searchPhrase).length;
    },
    numberOfPages() {
      return Math.ceil(
        this.numberOfItems / this.itemsPerPage
      );
    },
    filteredUsersForCurrentPage() {
      const startPosition =
        (this.currentPage - 1) * this.itemsPerPage;
      const endPosition = startPosition + this.itemsPerPage;
      return this.filteredUsers(this.searchPhrase).slice(
        startPosition,
        endPosition
      );
    }
  }
};
</script>

<style lang="scss">
@import "~foundation-sites/scss/foundation.scss";

.add-user-wrapper {
  @include breakpoint(medium) {
    text-align: right;
  }
}
</style>

<style lang="scss" scoped>
.user-list-main {
  background-color: #ffffff;
  padding: 2rem 1rem 1rem;
  border-radius: 0.2rem;
  box-shadow: 0 0 1rem 0.1rem rgba(#000, 0.05);
}

.button-add-user {
  height: 2.6rem;
  border-radius: 1.3rem;
  margin: 0;

  span {
    font-size: 1.2em;
  }
}

hr {
  border-bottom-color: #eee;
  margin-bottom: 2rem;
}
</style>
