<template>
  <div class="add-user view grid-container">
    <h1 class="view-title h4">
      {{ !isEdit ? "Add User" : "Edit User" }}
    </h1>

    <div class="grid-x grid-padding-x">
      <div
        class="cell medium-8 small-order-2 medium-order-1"
      >
        <div class="add-user-main">
          <FormulateForm
            v-model="formValues"
            @submit="processUser"
          >
            <div class="grid-x grid-padding-x">
              <div class="cell medium-6">
                <FormulateInput
                  type="text"
                  name="first_name"
                  label="First Name"
                  validation="required|max:256"
                  :validation-messages="{
                    required:
                      'Please enter your first name',
                    max: ({ args }) =>
                      `Please use max ${args} characters`
                  }"
                />
              </div>

              <div class="cell medium-6">
                <FormulateInput
                  type="text"
                  name="last_name"
                  label="Last Name"
                  validation="required|max:256"
                  :validation-messages="{
                    required: 'Please enter your last name',
                    max: ({ args }) =>
                      `Please use max ${args} characters`
                  }"
                />
              </div>

              <div class="cell small-12">
                <FormulateInput
                  @input="updateImage"
                  type="url"
                  name="avatar"
                  label="Image URL"
                  validation="required|url"
                  :validation-messages="{
                    required:
                      'Please enter the URL of your avatar',
                    url: ({ value }) =>
                      value.length > 0
                        ? 'Please provide a valid url'
                        : null
                  }"
                />
              </div>
              <div class="cell small-12">
                <button
                  type="submit"
                  class="button button-main"
                >
                  {{ !isEdit ? "Add User" : "Update User" }}
                </button>
                <button
                  v-if="isEdit"
                  type="button"
                  class="button alert button-main"
                  @click="removeUser"
                >
                  Remove User
                </button>

                <p v-if="isLoading">Please wait…</p>
                <p v-else-if="isError">{{ isError }}</p>
              </div>
            </div>
          </FormulateForm>
        </div>
      </div>
      <div
        class="cell medium-4 small-order-1 medium-order-2"
      >
        <div class="add-user-main">
          <div class="image-section-wrapper">
            <div
              v-if="imageSrc"
              class="image-wrapper"
              :style="{
                backgroundImage: `url(${imageSrc})`
              }"
            />
            <IconPerson v-else class="icon-person" />
          </div>
        </div>
      </div>
    </div>

    <router-link to="/" class="user-list-link">
      &laquo; User List
    </router-link>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

import IconPerson from "@/assets/icons/person.svg";
import imageExists from "image-exists";

export default {
  name: "ProcessUser",
  data() {
    return {
      isEdit: false,
      formValues: {},
      imageSrc: "",
      userId: 0
    };
  },
  components: { IconPerson },
  methods: {
    updateImage(image) {
      imageExists(image, exists => {
        if (exists) {
          this.imageSrc = image;
        } else {
          this.imageSrc = "";
        }
      });
    },
    processUser() {
      let image = this.formValues.avatar;
      imageExists(image, exists => {
        if (!exists) {
          image = require("@/assets/images/image-placeholder.png");
        }
      });

      let user = {
        first_name: this.formValues.first_name,
        last_name: this.formValues.last_name,
        avatar: image
      };

      if (!this.isEdit) {
        this.$store.dispatch("addUser", user);
      } else {
        this.$store.commit("updateUser", {
          id: parseInt(this.userId),
          ...user
        });
      }
    },
    removeUser() {
      this.$store.commit("openModal", {
        content: `Are you sure you want to remove ${this.formValues.first_name} ${this.formValues.last_name}?`,
        userId: this.userId,
        redirect: true
      });
    }
  },
  computed: {
    ...mapGetters(["isLoading", "isError"])
  },
  created() {
    const userId = parseInt(this.$route.params.id);

    if (userId) {
      this.isEdit = true;
      this.userId = userId;

      const user = this.$store.state.users.find(
        user => user.id == this.userId
      );

      this.formValues = {
        first_name: user.first_name,
        last_name: user.last_name,
        avatar: user.avatar
      };
    }
  }
};
</script>

<style lang="scss" scoped>
.add-user-main {
  height: 100%;
  background-color: #ffffff;
  padding: 2rem 1rem 1rem;
  border-radius: 0.2rem;
  box-shadow: 0 0 1rem 0.1rem rgba(#000, 0.05);
}

.cell {
  margin-bottom: 1rem;
}

.button {
  margin-right: 0.5rem;
}

.image-section-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-radius: 50%;
}

.image-wrapper {
  width: 9rem;
  height: 9rem;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #ccc;
}

.icon-person {
  width: 10rem;
}

.user-list-link {
  display: inline-block;
  margin-top: 2rem;
}
</style>
