<template>
  <div class="confirm-modal" :class="{ active: isActive }">
    <div
      class="confirm-modal-background"
      @click="closeModal"
    />
    <div class="confirm-modal-content-wrapper">
      <div class="confirm-modal-content">
        <div class="content-container">
          <div class="content-text">
            {{ content }}
          </div>
          <div class="content-buttons">
            <div class="">
              <button
                class="button button-main"
                @click="closeModal"
              >
                Cancel
              </button>
            </div>
            <div class="">
              <button
                class="button alert button-main"
                @click="removeUser"
              >
                Confirm
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations } from "vuex";

export default {
  name: "ConfirmationModal",
  methods: {
    ...mapMutations(["closeModal"]),
    removeUser() {
      this.$store.dispatch("removeUser", {
        userId: this.$store.state.modal.userId,
        redirect: this.$store.state.modal.redirect
      });

      this.$store.commit("closeModal");
    }
  },
  computed: {
    isActive() {
      return this.$store.state.modal.isActive;
    },
    content() {
      return this.$store.state.modal.content;
    }
  }
};
</script>

<style lang="scss" scoped>
.confirm-modal {
  z-index: 1000;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  &.active {
    display: block;

    .confirm-modal-background {
      background-color: rgba(black, 0.4);
    }
  }
}

.confirm-modal-background {
  z-index: 1001;
  width: 100%;
  height: 100%;
  position: absolute;
}

.confirm-modal-content-wrapper {
  z-index: 1002;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  outline: 3px solid red;
}

.confirm-modal-content {
  z-index: 1003;
  width: 18rem;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 0.2rem;
}

.content-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-text {
  margin-bottom: 1.5rem;
}

.content-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.button {
  margin: 0;
}
</style>
