<template>
  <nav aria-label="Pagination">
    <ul class="pagination">
      <li>
        <a
          href="#"
          :class="{ disabled: currentPage < 2 }"
          @click.prevent="prevPage"
        >
          &laquo;
        </a>
      </li>
      <li v-for="page in numOfPages" :key="page">
        <a
          href="#"
          :class="{ current: page === currentPage }"
          @click.prevent="changePage(page)"
        >
          {{ page }}
        </a>
      </li>
      <li>
        <a
          href="#"
          :class="{ disabled: currentPage >= numOfPages }"
          @click.prevent="nextPage"
        >
          &raquo;
        </a>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  name: "UserListPagination",
  props: ["numOfPages", "currentPage"],
  methods: {
    emitPageChanged(page) {
      this.$emit("page-changed", page);
    },
    nextPage() {
      this.currentPage < this.numOfPages
        ? this.emitPageChanged(this.currentPage + 1)
        : null;
    },
    prevPage() {
      this.currentPage > 1
        ? this.emitPageChanged(this.currentPage - 1)
        : null;
    },
    changePage(page) {
      this.emitPageChanged(page);
    }
  }
};
</script>

<style lang="scss" scoped>
.pagination {
  li {
    background-color: #ffffff;
  }

  .current {
    background-color: #009c74;
  }
}
</style>
