<template>
  <input
    class="search-field"
    type="search"
    placeholder="Search for interns…"
    v-model="searchPhrase"
    @keyup="searchPhraseChanged"
    aria-label="Search for interns…"
  />
</template>

<script>
export default {
  name: "UserListSearchField",
  data() {
    return {
      searchPhrase: ""
    };
  },
  methods: {
    searchPhraseChanged() {
      this.$emit("phrase-changed", this.searchPhrase);
    }
  }
};
</script>

<style lang="scss">
@import "~foundation-sites/scss/foundation.scss";

.search-field {
  @include breakpoint(small only) {
    margin-bottom: 1.5rem;
  }
}
</style>
