<template>
  <table>
    <thead>
      <tr>
        <th class="column-1"></th>
        <th class="">Full Name</th>
        <th class="column-3">Action</th>
      </tr>
    </thead>
    <tbody>
      <UserListRecord
        v-for="user in users"
        :key="user.id"
        :user="user"
      />
    </tbody>
  </table>
</template>

<script>
import UserListRecord from "./UserListRecord";

export default {
  name: "UserList",
  props: ["users"],
  components: {
    UserListRecord
  }
};
</script>

<style lang="scss" scoped>
th {
  font-size: 0.85em;
}

.column-1 {
  width: 4rem;
}

.column-3 {
  text-align: center;
  width: 7rem;
}
</style>
