<template>
  <tr>
    <td>
      <img
        class="record-image"
        :src="user.avatar"
        :alt="`${user.first_name} ${user.last_name}`"
      />
    </td>
    <td class="record-name">
      {{ user.first_name }} {{ user.last_name }}
    </td>
    <td class="record-action-icons">
      <a
        href="#"
        @click.prevent="editUser(user)"
        aria-label="Edit User"
      >
        <IconEdit class="icon-edit" />
      </a>
      <a
        href="#"
        @click.prevent="removeUser(user)"
        aria-label="Remove User"
      >
        <IconTrash class="icon-trash" />
      </a>
    </td>
  </tr>
</template>

<script>
import IconEdit from "@/assets/icons/edit.svg";
import IconTrash from "@/assets/icons/trash.svg";

export default {
  name: "UserListRecord",
  props: ["user"],
  components: {
    IconTrash,
    IconEdit
  },
  methods: {
    editUser({ id }) {
      this.$router.push(`/edit-user/${id}`);
    },
    removeUser({ id, first_name, last_name }) {
      this.$store.commit("openModal", {
        content: `Are you sure you want to remove ${first_name} ${last_name}?`,
        userId: id,
        redirect: false
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.record-image {
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
}

.record-name {
  font-size: 0.85em;
}

.record-action-icons {
  text-align: center;
}

svg {
  height: 1em;
  padding: 0 0.5rem;
  cursor: pointer;
  fill: #999;
  transition: fill 0.2s;

  &:hover {
    fill: #333;
  }
}
</style>
