<template>
  <div id="app">
    <router-view />
    <ConfirmationModal />
  </div>
</template>

<script>
import ConfirmationModal from "@/components/ConfirmationModal";

export default {
  name: "App",
  components: {
    ConfirmationModal
  },
  created() {
    this.$store.dispatch("fetchUsers");
  }
};
</script>

<style lang="scss">
$grid-container: 60rem;
$table-padding: 0.75rem 1rem 0.75rem;
$pagination-mobile-current-item: true;

@import "~foundation-sites/scss/foundation.scss";
@include foundation-everything;

body {
  background-color: #f5f7f9;
}

.view {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.view-title {
  margin-bottom: 1.5rem;
}

.pagination {
  margin-top: 2rem;
  text-align: center;

  @include breakpoint(medium) {
    text-align: initial;
  }
}

input[type="text"],
input[type="search"] {
  border-radius: 0.2rem;
}

a {
  color: darken(#009c74, 10);
  font-weight: bold;
  font-size: 0.75em;

  &:hover {
    color: #009c74;
  }
}

.button-main {
  border-radius: 0.2rem;
  background-color: #008664;
  color: #fff;
  font-weight: bold;
  font-size: 0.8em;

  &:hover,
  &:focus {
    background-color: darken(#009c74, 10);
    outline: none;
  }
}

.formulate-input {
  position: relative;
}

.formulate-input-errors {
  position: absolute;
  right: 0;
  top: 4.2rem;
  text-align: right;
  font-size: 0.7rem;
  line-height: 0.9rem;
  color: darkred;
  list-style: none;
}
</style>
